body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display:  block;
}

#gameOver {
    position: absolute;
    visibility: hidden;
}

h1, h3 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.title {
    font-size: 90px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 3px solid;
    border-radius: 21px;
}

#restartButton:hover {
    background-color: #321456;
}